@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/web/public/fonts/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@config "../tailwind.config.js";

@theme {
  --color-current:    currentColor;
  --color-transparent: transparent;
  --color-white:      #FFFFFF;
  --color-black: #0D185F;
  --color-dark: #101226;
  --color-primary:    #4A6CF7;
  --color-yellow:     #FBB040;
  --color-body-color: #B5BACA;

  --breakpoint-xs:    450px;
  --breakpoint-sm:    575px;
  --breakpoint-md:    768px;
  --breakpoint-lg:    992px;
  --breakpoint-xl:   1200px;
  --breakpoint-2xl:  1400px;

  --shadow-signUp:  0px 5px 10px rgba(4, 10, 34, 0.2);
  --shadow-one:     0px 2px 3px rgba(7, 7, 77, 0.05);
  --shadow-sticky:  inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  html {
    forced-color-adjust: none;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }

  :root {
    color-scheme: only dark;
  }

  .leaflet-map {
    z-index: 0;
    position: relative;
  }
}
